body {
    
   background-image: url("http://eskipaper.com/images/cool-warm-colors-wallpaper-1.jpg");
    text-align: center;
   }
   p {
       font-size: 30px;
       margin-top: 20px;
   }
   
   h2 {
       font-size: 40px;
   }

   h3{

    font-size: 30px;
    margin-top: 20px;
   }